body { 
    background-image: url(img/dragon-ball-z-4k-pc-axpvihiowkabrq42.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.contenedor {
    margin: 0 auto;
    margin-top: 5vh;
    width: 50vw;
    height: 420vh;
    font-size: 10px;
}

img {
    width: 70%;
    height: 80%;
}
.correcion_size {
    width: 40%;
    height: 80%;
}

.tamaño_cards { 
    margin: 0.4em;
    padding: 0.8em;
    width: 23%;
    height: 6.8%;
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}